
dist
.solid
.output
.vercel
.netlify
netlify

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

/dist

# System Files
.DS_Store
Thumbs.db
.env
solid-cats.code-workspace
